@model ProjectsApp.Models.ClientModel


@{
    ViewBag.Title = "Add New Project";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Managment System | </title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Vendors/nprogress.css" rel="stylesheet" />
    <link href="~/Vendors/custom.min.css" rel="stylesheet" />


</head>
<body class="nav-md">
    <div class="container body" style="width:inherit;">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <br />
                    <div class="navbar nav_title" style="border: 0;">

                        <a href='/home/home' class="site_title"><i class="fa fa-calculator"></i> <span>PMS</span></a>
                        <br />
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src=@ViewBag.Url alt="..." class="img-circle profile_img" style="width:75px;">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@User.Identity.Name</h2>
                        </div>
                        <br />
                        <br />
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <br />
                    <br />
                    <br />
                    <br />

                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">

                            <ul class="nav side-menu">
                                <li>
                                    <a href='/home/home'><i class="fa fa-home"></i> Home </a>
                                </li>
                                <li>
                                    <a href='/user/myprofile'><i class="fa fa-user"></i> My Profile </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Projects <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href='/projects/browseprojects'>All Projects</a></li>
                                        <li><a href='/projects/addnewproject'>Add New Project</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i> Clients <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href='/clients/browseclients'>All Clients</a></li>
                                        <li><a href='/clients/addnewclient'>Add New Client</a></li>
                                    </ul>
                                </li>
                                <li id="pm">
                                    <a><i class="fa fa-users"></i> Project Managers <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/projectmanager/browseprojectmanagers">All Project Managers</a></li>
                                        <li><a href="/projectmanager/addnewprojectmanager">Add New Project Manager</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src=@ViewBag.Url alt="">@User.Identity.Name
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href='/user/myprofile'> Profile</a></li>
                                    <li><a href='/user/logout'><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>

  <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="">
                          @using (Html.BeginForm())
                          {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Add a Client</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MainContact, "MainContact", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <select class="form-control" id="selectClient" name="mainContact">
                                            @foreach (var item in ViewBag.Users)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhoneNumber, "Phone Number (optional)", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address, "Address (optional)", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                        <input type="button" value="Cancel" class="btn btn-default" onclick="location.href = '/clients/browseclients'" />
                                    </div>
                                </div>
                            </div>
                          }

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <input id="usercheck" type="number" style="visibility: hidden;" value="@ViewBag.RoleId" />

        Add content to the page ...
    </div>

    <!-- jQuery -->

    <script src="~/Vendors/jquery.min.js"></script>
    <script src="~/Vendors/fastclick.js"></script>
    <script src="~/Vendors/nprogress.js"></script>
    <script src="~/Vendors/bootstrap.min.js"></script>
    <script src="~/Build/custom.min.js"></script>
    <script src="~/Chart/dist/Chart.min.js"></script>
</body>
</html>
<script>
    function vis() {

        if (document.getElementById("usercheck").value == 2)
            document.getElementById("pm").style.visibility = "hidden";
    }

    vis();
</script>











