@model ProjectsApp.Models.StartupLogin.LogInModel

@{
    ViewBag.Title = "Log In";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> | Project Managment System | </title>
      <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

      <link href="~/Vendors/nprogress.css" rel="stylesheet" />
      <link href="~/Vendors/custom.min.css" rel="stylesheet" />
      <script src="~/Vendors/jquery.min.js"></script>

</head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
@using (Html.BeginForm())
{

            <form>
              <h1>| Welcome back |</h1>
                <div class="form-group">
                        <div class="col-md-4"></div>
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4"></div>
                  
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                <div class="form-group">
                    <div class="col-md-4"></div>
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-4"></div>

                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>


              <div>
                  <a class="reset_pass" href="#" id="forgotPass">Forgot your password?</a>
              <br />
                  <input type="submit" style="margin-left:42%;" class="btn btn-default" value="Login"/>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <div>
                  <h1><i class="fa fa-calculator"></i> Project Managment System</h1>
                  <p>©2016 All Rights Reserved.</p>
                </div>
              </div>
            </form>
}
          </section>
        </div>
      </div>
    </div>
      <script src="~/Vendors/jquery.min.js"></script>
      <script src="~/Vendors/fastclick.js"></script>
      <script src="~/Vendors/nprogress.js"></script>
      <script src="~/Vendors/bootstrap.min.js"></script>
      <script src="~/Build/custom.min.js"></script>

      <div class="modal fade" id="emailModal" role="dialog">
          <div class="modal-dialog" style="width:25%;">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header" style="background-color:#2A3F54; color:white;">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Enter your e-mail</h4>
                  </div>
                  <div class="modal-body">
                      <form>
                          
                          <div class="form-group">
                              <label for="usr">E-mail</label>
                              <input type="email" class="form-control" id="email1" />
                          </div>
                          <div class="form-group">
                              <label for="usr">Retype e-mail</label>
                              <input type="email" class="form-control" id="email2" />
                          </div>


                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:#2A3F54; color:white;">Close</button>

                      <button id="sendEmail" type="button" class="btn btn-default" style="color:white; background-color:#1ABB9C; ">Send e-mail</button>
                  </div>
              </div>

          </div>
      </div>
  </body>
</html>

<script>

    document.getElementById("forgotPass").onclick = function () {
        $('#emailModal').modal('toggle');
    };

    document.getElementById("sendEmail").onclick = function () {
        
        var email1 = document.getElementById('email1').value.trim();
        var email2 = document.getElementById('email2').value.trim();
        if (email1 != email2)
            alert("Please retype your e-mail correctly!");
        else
            $.ajax({
                url: "/User/SendPass",
                type: 'POST',
                dataType: 'json',
                data: { email: email1 },
                success: function (data) {
                    if (data.ok == "ok") {
                        $('#emailModal').modal('hide');
                    }
                    else {
                        
                        alert("Non-existing e-mail");
                    }
                },
                async: false
            });
    };
</script>