@model IEnumerable<ProjectsApp.Models.ProjectModel>


@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Managment System | </title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Vendors/nprogress.css" rel="stylesheet" />
    <link href="~/Vendors/custom.min.css" rel="stylesheet" />


</head>
<body class="nav-md">
    <div class="container body" style="width:inherit;">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <br />
                    <div class="navbar nav_title" style="border: 0;">

                        <a href='/home/home' class="site_title"><i class="fa fa-calculator"></i> <span>PMS</span></a>
                        <br />
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src=@ViewBag.Url alt="..." class="img-circle profile_img" style="width:75px;">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@User.Identity.Name</h2>
                        </div>
                        <br />
                        <br />
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <br />
                    <br />
                    <br />
                    <br />

                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">

                            <ul class="nav side-menu">
                                <li>
                                    <a href='/home/home'><i class="fa fa-home"></i> Home </a>
                                </li>
                                <li>
                                    <a href='/user/myprofile'><i class="fa fa-user"></i> My Profile </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Projects <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href='/projects/browseprojects'>All Projects</a></li>
                                        <li><a href='/projects/addnewproject'>Add New Project</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i> Clients <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href='/clients/browseclients'>All Clients</a></li>
                                        <li><a href='/clients/addnewclient'>Add New Client</a></li>
                                    </ul>
                                </li>
                                <li id="pm">
                                    <a><i class="fa fa-users"></i> Project Managers <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/projectmanager/browseprojectmanagers">All Project Managers</a></li>
                                        <li><a href="/projectmanager/addnewprojectmanager">Add New Project Manager</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src=@ViewBag.Url alt="">@User.Identity.Name
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href='/user/myprofile'> Profile</a></li>
                                    <li><a href='/user/logout'><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="">
                            @using (Html.BeginForm())
                            {
                                <p>
                                    Search Projects: @Html.TextBox("SearchString", "", new { @Value = ViewBag.CurrentFilter })
                                    <input type="submit" value="Search" />
                                </p>
                            }
                            <div align="center" class="input-group" backgroun-color="white">

                                @*<span class="input-group-addon">
                                        @Html.TextBox("SearchString", "", new { @Value = ViewBag.CurrentFilter })
                                        <input type="submit" value="Search" />
                                    </span>*@

                                @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("BrowseProjects", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                                <span class="input-group-btn">
                                    <input type="button" value="Create" class="btn btn-default" onclick="location.href = '/projects/addnewproject'" />
                                </span>

                            </div>


                            <table class="table">
                                <tr>


                                    <th style="text-align:center;">
                                        @Html.ActionLink("Title", "BrowseProjects", new { sortOrder = ViewBag.TitleSortParm })
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.ActionLink("Date From", "BrowseProjects", new { sortOrder = ViewBag.DateFromSortParm })
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.ActionLink("Date To", "BrowseProjects", new { sortOrder = ViewBag.DateToSortParm })
                                    </th>

                                    <th style="text-align:center;">
                                        @Html.ActionLink("Date Created", "BrowseProjects", new { sortOrder = ViewBag.DateCreatedSortParm })
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.ActionLink("Cap", "BrowseProjects", new { sortOrder = ViewBag.CapSortParm })
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.ActionLink("Client", "BrowseProjects", new { sortOrder = ViewBag.ClientIdSortParm })
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.ActionLink("Is Active", "BrowseProjects", new { sortOrder = ViewBag.IsActiveSortParm })
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.ActionLink("Created By", "BrowseProjects", new { sortOrder = ViewBag.CreatedBySortParm })
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.ActionLink("Last Modified", "BrowseProjects", new { sortOrder = ViewBag.LastModifiedSortParm })
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.ActionLink("Modified By", "BrowseProjects", new { sortOrder = ViewBag.ModifiedBySortParm })
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
            {
                                    <tr>


                                        <td style="text-align:center;" width="15%">
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(modelItem => item.Date_From)
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(modelItem => item.Date_To)
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(modelItem => item.Date_Created)
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(modelItem => item.Cap)
                                        </td>
                                        <td style="text-align:center;" width="15%">
                                            @Html.DisplayFor(modelItem => item.Client_Id)
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(modelItem => item.CreatedBy)
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(modelItem => item.DateModified)
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                                        </td>

                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "lnkDelete" })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <input id="usercheck" type="number" style="visibility: hidden;" value="@ViewBag.RoleId" />
        
    </div>

    <!-- jQuery -->

    <script src="~/Vendors/jquery.min.js"></script>
    <script src="~/Vendors/fastclick.js"></script>
    <script src="~/Vendors/nprogress.js"></script>
    <script src="~/Vendors/bootstrap.min.js"></script>
    <script src="~/Build/custom.min.js"></script>
    <script src="~/Chart/dist/Chart.min.js"></script>
</body>
</html>

<script>
    function vis() {

        if (document.getElementById("usercheck").value == 2)
            document.getElementById("pm").style.visibility = "hidden";
    }

    vis();
</script>

